<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>HTML+CSS实战</title>
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
<div class="header">
  <div class="top">
    <div class="wp">
      <div class="z">
                <span>
                    <a href="">设为首页</a>
                </span>
        <span>
                    <a href="">收藏本站</a>
                </span>
      </div>
      <div class="y">
        <span>2017年8月25日</span>
        <span class="mr_0">多云16℃/30℃</span>
      </div>
    </div>
  </div>
  <div class="wp">
    <div class="logos">
      <div class="logo z">
        <h1><a href="/index2"><img  alt="HTML+CSS实战"/></a></h1>
      </div>
      <div class="dianhua y">
        <span>客服热线：400-000-000</span>
      </div>
    </div>
  </div>

</div>
<div class="center">
  <div class="wp">
    <div class="s_z">
      <img class="s_z" src="./images/s_z.jpg" />
    </div>
    <div class="jianjie z">
      <div class="tit">
        <span><a href="">More</a></span>
      </div>
      <div class="jj_c">
        <p>
          主要内容
        </p>
      </div>
    </div>
    <div class="xinwen z">
      <div class="tit">
        <span><a href="">More</a></span>
      </div>
      <div class="xw_c">
        <ul>
          <li class="a">
            <a href="">
              <h3>新闻标题</h3>
              <p>新闻内容</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="chanpin z">
    </div>
  </div>
</div>
<div class="cl"></div>
<div class="footer">
  底部内容
</div>

</body>
</html>